.container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    justify-content: center;
    background-color: bisque;
}

.container>div {
    box-sizing: border-box;
    height: 25vh;
    width: 25vw;
    background-color: dimgray;
    padding: 10px;
    text-align: center;
}

.cajita {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.Solid {
    border: 5px Solid black;
}

.Dotted {
    border: 5px Dotted black;
}

.Dashed {
    border: 5px Dashed black;
}

.Double {
    border: 5px Double black;
}

.Groove {
    border: 5px Groove black;
}

.Ridge {
    border: 5px Ridge black;
}

.Inset {
    border: 5px Inset black;
}

.Outset {
    border: 5px Outset black;
}

.variado {
    border-style: dashed dotted solid double;
    border-width: 5px;
    border-color: rgb(0, 0, 0);
}

@media (max-width: 500px) {

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .container>div {
        box-sizing: border-box;
        width: 100%;
    }

    .cajita {
        width: 500px;
        height: 150px;
    }
    
}