.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
    gap: 10px;
    height: auto;
}

.container > div{
    height: 50vh;
    width: 25vw;
    border: 1px dashed #000000;
    border-radius: 100px 0 100px 0;
}

h4{
    text-align: center;
    font-size: 1.2rem;
    color: #ffff;
}

.plano{
    background-color: blueviolet;
}
.gradiente{
    background: linear-gradient(90deg, #ccc, #fb7070, rgb(119, 9, 129));
}

.imagen{
    background: url("/assets/img/fondo.webp");
}

@media (max-width:500px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
    }
    .container > div{
        height: 300px;
        width: 90vw;
        max-height: auto;
        border: 1px dashed #000000;
    }

}