.container{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 5px;
    background-color: grey;
}

.container > div{
    height: 50vh;
    width: 25vw;
    padding: 20px 0;
    border: 2px dashed #000000;
}

h4{
    text-align: center;
    font-size: 1.1rem;
    color: #fff;
}

.plano{
    background-color: blueviolet;
}
.gradiente{
    background: linear-gradient(90deg, #ccc, #fb7070);
}

.imagen{
    background: url("/assets/img/fondo.webp");
}